n8n/workflows/embedded_assessment.json
{
  "name": "Embedded Assessment Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-assessment",
        "responseMode": "lastNode"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "node-webhook"
    },
    {
      "parameters": {
        "url": "http://collector:8000/assess",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "target_name",
              "value": "={{ $json.target_name || null }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "name": "Run Assessment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300],
      "id": "node-assess"
    },
    {
      "parameters": {},
      "name": "Return Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 300],
      "id": "node-respond"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Run Assessment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Assessment": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "embedded-assessment-dev"
  }
}
