n8n/workflows/embedded_assessment.json
{
  "name": "Embedded Assessment Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-assessment",
        "responseMode": "lastNode"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "id": "node-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-mode-full",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "full",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Check Mode",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300],
      "id": "node-check-mode"
    },
    {
      "parameters": {
        "url": "http://collector:8000/orchestrate",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ target: { host: $json.host || $env.SSH_HOST, port: $json.port || Number($env.SSH_PORT) || 22, username: $json.username || $env.SSH_USERNAME || 'root', auth: $json.auth || $env.SSH_AUTH || 'key', key_path: $json.key_path || $env.SSH_KEY_PATH || '~/.ssh/id_ed25519', password: $json.password || $env.SSH_PASSWORD || '' }, output_dir: $json.output_dir || './output' }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "name": "Full Orchestration",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 200],
      "id": "node-orchestrate"
    },
    {
      "parameters": {
        "url": "http://collector:8000/collect/linux/service-map",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ target: { host: $json.host || $env.SSH_HOST, port: $json.port || Number($env.SSH_PORT) || 22, username: $json.username || $env.SSH_USERNAME || 'root', auth: $json.auth || $env.SSH_AUTH || 'key', key_path: $json.key_path || $env.SSH_KEY_PATH || '~/.ssh/id_ed25519', password: $json.password || $env.SSH_PASSWORD || '' } }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Service Map",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 200],
      "id": "node-service-map"
    },
    {
      "parameters": {
        "url": "http://collector:8000/assess",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ target_name: $json.target_name || undefined }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Config Assessment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 400],
      "id": "node-assess"
    },
    {
      "parameters": {},
      "name": "Return Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300],
      "id": "node-respond"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Mode": {
      "main": [
        [
          {
            "node": "Full Orchestration",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Config Assessment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Full Orchestration": {
      "main": [
        [
          {
            "node": "Service Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service Map": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Assessment": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "embedded-assessment-dev"
  }
}
