n8n/workflows/embedded_assessment.json
{
  "name": "Embedded Assessment Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-assessment",
        "responseMode": "lastNode"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "node-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mode }}",
              "operation": "equals",
              "value2": "full"
            }
          ]
        }
      },
      "name": "Check Mode",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300],
      "id": "node-check-mode"
    },
    {
      "parameters": {
        "url": "http://collector:8000/orchestrate",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ target: { host: $json.host || $env.SSH_HOST, port: $json.port || Number($env.SSH_PORT) || 22, username: $json.username || $env.SSH_USERNAME || 'root', auth: $json.auth || $env.SSH_AUTH || 'key', key_path: $json.key_path || $env.SSH_KEY_PATH || '~/.ssh/id_ed25519', password: $json.password || $env.SSH_PASSWORD || '' }, output_dir: $json.output_dir || './output' }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "name": "Full Orchestration",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 200],
      "id": "node-orchestrate"
    },
    {
      "parameters": {
        "url": "http://collector:8000/assess",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "target_name",
              "value": "={{ $json.target_name || null }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "name": "Config Assessment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 400],
      "id": "node-assess"
    },
    {
      "parameters": {},
      "name": "Return Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 300],
      "id": "node-respond"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Mode": {
      "main": [
        [
          {
            "node": "Full Orchestration",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Config Assessment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Full Orchestration": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Assessment": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "embedded-assessment-dev"
  }
}
